.container {
  background-color: green;
  padding: 20px;
  color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Zentrierung vertikal */
  align-items: center; /* Zentrierung horizontal */
  height: 100vh; /* 100% der Bildschirmhöhe */
}

.inputFieldWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Abstand zwischen den Eingabefeldern */
}

.inputFieldLabel {
  margin-bottom: 5px; /* Abstand zwischen Label und Slider */
}

.inputField {
  -webkit-appearance: none;
  appearance: none;
  background-color: yellow;
  width: 50vw; /* Halbe Bildschirmbreite */
  height: 20px;
  border-radius: 5px;
  outline: none;
}

.inputField::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: darkgreen;
  border-radius: 50%;
  cursor: pointer;
}

.selectField {
  background-color: yellow;
  color: green;
  border-color: yellow;
  width: 25vw; /* Ein Viertel der Bildschirmbreite */
  margin-top: 10px; /* Abstand über dem Dropdown-Menü */
}
