.container {
  background-color: #325928;
  padding: 0;
  color: #F6B600;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Zentrierung vertikal */
  align-items: center; /* Zentrierung horizontal */
  height: 100vh; /* 100% der Bildschirmhöhe */
  overflow-x: hidden; /* Scrollbalken am Rand ausblenden */
  overflow-y: auto; /* Scrollbalken am Rand ausblenden */
}

.inputFieldWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Abstand zwischen den Eingabefeldern */
}

.inputFieldLabel {
  margin-top: 20px; /* Abstand über dem Label */
  margin-bottom: 5px; /* Abstand zwischen Label und Slider */
}

.inputField {
  -webkit-appearance: none;
  appearance: none;
  background-color: #F6B600;
  width: 50vw; /* Halbe Bildschirmbreite */
  height: 20px;
  border-radius: 5px;
  outline: none;
}

.inputField::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #325928;
  border-radius: 50%;
  cursor: pointer;
}

.selectField {
  background-color: #F6B600;
  color: #325928;
  border-color: #F6B600;
  width: 25vw; /* Ein Viertel der Bildschirmbreite */
  margin-top: 20px; /* Abstand über dem Dropdown-Menü */
}
