.container {
  background-color: green;
  padding: 20px;
  color: yellow;
}

.selectField {
  background-color: yellow;
  color: green;
  border-color: yellow;
}

.container {
  background-color: green;
  padding: 20px;
  color: yellow;
}

.inputField {
  -webkit-appearance: none; /* Remove default styles */
  appearance: none;
  background-color: yellow;
  width: 100%; /* Full width */
  height: 20px; /* Slider height */
  border-radius: 5px; /* Slider handle border radius */
  outline: none; /* Remove outline */
}

.inputField::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default thumb appearance */
  appearance: none;
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background-color: darkgreen; /* Thumb color */
  border-radius: 50%; /* Round thumb */
  cursor: pointer; /* Cursor on hover */
}

